form {
    font-size: small;
    text-align: left;
    background-color: #e8eaee;
    color: #000000;
}

input {
    background-color: #F5F5F5;
}

#stockTicker {
    text-transform: uppercase;
}

.search-btn {
    font-size: 12px !important;
}

.submit-btn {
    background-color: #FC5F9E !important;
    border: #FC5F9E !important;
    font-size: 14px;
}

.submit-btn:hover {
    background-color: #e74e8b !important;
    border: #e74e8b !important;
}

.hidden {
 display: none;   
}