.header-menu {
    text-align: left;
    background: #213458;
    color: #ffffff;
}

.logo {
    width: 3em;
    height: auto;
    float: left;
}

.company-name {
    padding-top: 1em;
    padding-left: 0;
}